@import "./utils/_variables.scss";
@import "./utils/breakpoints";
@import "./utils/placeholders";
@import "./components/_logo.scss";
@import "./components/_navigation.scss";
@import "./components/_contacts";
@import "./components/hero";
@import "./components/qualities";
@import "./components/our-occupation";
@import "./components/our-team";
@import "./components/customers";
@import "./components/footer";
@import "./components/modal";
@import "./portfolio.scss";
