.logo-blue {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.166;
  }
  letter-spacing: 0.03em;
  color: $text-blue;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}
.logo-black {
  font-family: $raleway;
  font-style: normal;
  font-weight: 700;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.166;
  }
  letter-spacing: 0.03em;
  color: $text-header;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}
.logo-white {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.166;
  }
  letter-spacing: 0.03em;
  color: $text-white;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}
