.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  padding: 40px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: 93px;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 95%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 208px;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    top: 221px;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 526px;
  }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  //Оглавление
  &-title {
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
    // margin-bottom: 2px;
    // line-height: 1.15;
  } //Форма
  &-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding: 0 15px;
    //элемент форми
    &-item {
      display: flex;
      flex-direction: column;
    }
    //Лейбл форми
    &-label {
      font-family: $roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.166;
      letter-spacing: 0.01em;
      color: #757575;
      margin-bottom: 4px;
      margin-top: 10px;
    }
  }
  &-input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-area {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    @media screen and (min-width: 320px) and (max-width: 1199px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 25px;
    }
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  //Подтверждающая кнопка
  &-sbm-btn {
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 55px 10px 56px;
    background: $text-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
  }
}
//закрывающая кнопка
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $text-white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &-svg {
    width: 11px;
    height: 11px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover &-svg {
    fill: $text-blue;
  }
}
//Политика соглашения с правилами
.modal-checkbox {
  position: relative;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  &-input:checked ~ &-label::before {
    background-image: url("../images/choise.png");
  }
  &-span {
    color: $text-blue;
    text-decoration: underline;
  }
  &-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    // font-size: 14px;
    font-size: 12px;
    // line-height: 1.714;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: $text-p;
    margin-left: 25px;
    // @media screen and (min-width: 320px) and (max-width: 767px) {
    //   margin-left: 18px;
    // }
    // @media screen and (min-width: 768px) {
    //   margin-left: 25px;
    // }
    &::before {
      content: "";
      display: inline-block;
      // width: 20px;
      // height: 20px;
      width: 16px;
      height: 15px;
      background-image: url("../images/checkbox.png");
      background-repeat: no-repeat;
      // margin-right: 9px;
      position: absolute;
      top: 2px;
      // top: 4px;
      left: 0;
    }
  }
  &-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
}
.modal-input {
  &:focus,
  &:hover {
    border: 1px solid #2196f3;
  }
  &:focus ~ &-svg,
  &:hover ~ &-svg {
    fill: $text-blue;
  }
  &-svg {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-area {
  outline: none;
  &:focus {
    border: 1px solid #2196f3;
  }
}
.svg-input-container {
  position: relative;
}
