.our-occupation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
  padding-top: 94px;
  &-tittle {
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: $text-header;
    padding-bottom: 50px;
  }
  &-list {
    display: flex;
    align-items: center;
  }
  &-item-container {
    position: relative;
  }
  &-item:not(:last-child) {
    margin-right: 30px;
  }
  &-item-text {
    position: absolute;
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
